@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ibm_plex_sans), sans-serif;
  @apply text-dark leading-snug text-lg;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.open {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
  transition: transform 0.2s cubic-bezier(0.345, 0.275, 0.505, 1.625), opacity 0.2s ease-out;
}

.close {
  opacity: 0;
  transform: translateY(-8px) scale(0.95);
  filter: blur(3px);
  transition: transform 0.4s ease-out, opacity 0.4s ease-out, filter 0.2s ease-out;
}